# XL1 Finalizer node
# docker run --env-file finalizer.env xl1:local start finalizer

XL1_LOG__LOG_LEVEL=info
XL1_HEALTH_CHECK_PORT=9099
XL1_MNEMONIC=

# XL1_CHAIN__ID=
# XL1_CONNECTIONS__DEFAULT_EVM_RPC__TYPE=evm-rpc
# XL1_CONNECTIONS__DEFAULT_EVM_RPC__URL=https://ethereum-sepolia-rpc.publicnode.com
# XL1_CONNECTIONS__DEFAULT_EVM_RPC__CHAIN_ID=0xaa36a7

XL1_ACTORS__0__NAME=finalizer
XL1_ACTORS__0__ACCOUNT_PATH=5
# XL1_ACTORS__0__FINALIZATION_CHECK_INTERVAL=500
# XL1_ACTORS__0__MIN_CANDIDATES=1
# XL1_ACTORS__0__PUBLISH_ON_FINALIZE=true
# XL1_ACTORS__0__PUBLISH_CONTENT_ENCODING=br
# XL1_ACTORS__0__PUBLISH_PROGRESS_INTERVAL=100

XL1_CONNECTIONS__LOCAL_STORE__TYPE=lmdb
XL1_CONNECTIONS__LOCAL_STORE__ROOT=/data/.store

# Optional S3 publish (when publishOnFinalize is true)
# XL1_CONNECTIONS__S3_FINALIZED__TYPE=s3
# XL1_CONNECTIONS__S3_FINALIZED__BUCKET=xl1-chain
# XL1_CONNECTIONS__S3_CHAIN_STATE__TYPE=s3
# XL1_CONNECTIONS__S3_CHAIN_STATE__BUCKET=xl1-chain-state
