# XL1 Indexer node
# docker run --env-file indexer.env xl1:local start indexer

XL1_LOG_LEVEL=info
XL1_HEALTH_CHECK_PORT=9099
XL1_MNEMONIC=

# XL1_CHAIN__ID=
XL1_EVM__CHAIN_ID=0xaa36a7

XL1_ACTORS__0__NAME=indexer
XL1_ACTORS__0__ACCOUNT_PATH=6
# XL1_ACTORS__0__PUBLISH_SYNC_INTERVAL=5000
# XL1_ACTORS__0__PUBLISH_CONTENT_ENCODING=br
# XL1_ACTORS__0__PUBLISH_PROGRESS_INTERVAL=100

XL1_CONNECTIONS__LOCAL_STORE__TYPE=lmdb
XL1_CONNECTIONS__LOCAL_STORE__ROOT=/data/.store

# XL1_CONNECTIONS__S3_INDEX__TYPE=s3
# XL1_CONNECTIONS__S3_INDEX__BUCKET=xl1-index
