# XL1 Producer node
# docker run --env-file producer.env xl1:local start producer

XL1_LOG_LEVEL=info
XL1_HEALTH_CHECK_PORT=9099
XL1_MNEMONIC=

# XL1_CHAIN__ID=
XL1_EVM__CHAIN_ID=0xaa36a7

XL1_ACTORS__0__NAME=producer
XL1_ACTORS__0__HOST=0.0.0.0
XL1_ACTORS__0__PORT=8081
XL1_ACTORS__0__ACCOUNT_PATH=0
# XL1_ACTORS__0__MIN_STAKE=100000000000000
# XL1_ACTORS__0__REWARD_ADDRESS=0x1111111111111111111111111111111111111111
# XL1_ACTORS__0__DISABLE_INTENT_REDECLARATION=false

XL1_CONNECTIONS__LOCAL_STORE__TYPE=lmdb
XL1_CONNECTIONS__LOCAL_STORE__ROOT=/data/.store

# XL1_CONNECTIONS__DEFAULT_EVM_RPC__TYPE=evm-rpc
# XL1_CONNECTIONS__DEFAULT_EVM_RPC__URL=http://host.docker.internal:8545
