# XL1 Reward Redemption API
# docker run --env-file reward-redemption.env xl1:local start rewardRedemption

XL1_LOG_LEVEL=info
XL1_HEALTH_CHECK_PORT=9099
XL1_MNEMONIC=

# XL1_CHAIN__ID=
XL1_EVM__CHAIN_ID=0xaa36a7

XL1_ACTORS__0__NAME=rewardRedemption
XL1_ACTORS__0__ACCOUNT_PATH=2
# XL1_ACTORS__0__HOST=0.0.0.0
# XL1_ACTORS__0__PORT=8083

XL1_CONNECTIONS__LOCAL_STORE__TYPE=lmdb
XL1_CONNECTIONS__LOCAL_STORE__ROOT=/data/.store
